<div class="row">
  <div class="small-4 small-centered columns">
    <h1>Sign Up</h1>
  </div>
</div>
<%= form_for(@user) do |f| %>
<div class="row">
  <div class="small-4 small-centered columns">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
</div>
<div class="row">
  <div class="small-4 small-centered columns">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
</div>
<div class="row">
  <div class="small-4 small-centered columns">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
</div>
<div class="row">
  <div class="small-4 small-centered columns">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
</div>
<div class="row">
  <div class="small-4 small-centered columns">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
</div>
<div class="row">
  <div class="small-4 small-centered columns">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
</div>
<div class="row">
  <div class="small-4 small-centered columns">
    <%= f.submit "Go GO!", class:"button" %>
  </div>
</div>
<% end %>