<%= form_for(@user) do |f| %>
  <div class="row">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="row">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="row">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="row">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="row">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="row">
    <%= f.submit %>
  </div>
<% end %>