<% song = saved_song.song %>
<li class="saved_song">
  <ul>
    <li>
      <%= link_to song.title, lessons_path(song_id: song.id) %>
        <% if !@mysongs %>
          <%= form_tag('/saved_songs') do %>
          <%= hidden_field_tag 'saved_song_song_id', song.id %>
          <%= hidden_field_tag 'saved_song_student_id', current_user.id %>
          <%= submit_tag 'Add to My Songs' %>
        <% end %>
      <% else %>
        <%= saved_song.status %>
      <% end %>

    </li>
  </ul>
</li>
