<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guitaragogo</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <header>
     <nav class="top-bar foundation-bar" data-topbar>
       <ul class="title-area">
         <li class="name">
            <span data-tooltip class="has-tip" title="Guitaragogo logo is repsonsive!">
              <h1 class="show-for-small-only"><a href="/">Guitaragogo</a></h1>
            </span>
            <h1 class="show-for-medium-only"><a href="/">Guitaragogo</a></h1>
            <h1 class="show-for-large-only"><a href="/">Guitaragogo</a></h1>
         </li>
        </ul>
        <section class="top-bar-section">
         <!-- Right Nav Section -->
          <ul class="right">
             <% if current_user %>
              <li><a href="/my-songs">Hi <%= current_user.first_name %> <%= current_user.last_name %>!</a></li>
              <li><a href="/logout">Logout</a></li>
              <li><a href="/my-songs">My Songs</a></li>
              <li><a href="/songs">All Songs</a></li>
              <li><a href="/lessons/new">Add Lesson</a></li>
              <li><a href="/genres">Genres</a></li>
             <% else %>
              <li><a href="/login">Login</a></li>
              <li><a href="/users/new">Register</a></li>
             <% end %>
           </ul>
         </section>
      
       </ul>
     </nav> 
  </header>

    <%= yield %>

  </body>
</html>
