<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Guitaragogo</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <header>
     <nav>
       <ul>
         <li><a href="/">GuitaraGoGo</a></li>
         <% if current_user %>
          <li><%= current_user.first_name %> <%= current_user.last_name %></li>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/my-songs">My Songs</a></li>
          <li><a href="/songs">All Songs</a></li>
          <li><a href="/lessons/new">Add Lesson</a></li>
          <li><a href="/genres">Genres</a></li>
          <li>
            <%= search_form_for @q do |f| %>
            <%= f.text_field :title_cont, :placeholder => "Search Songs", :class => "homepage-searchbar" %>
            <%= f.submit :class => "button tiny" %>
            <% end %>
          </li>
         <% else %>
          <li><a href="/login">Login</a></li>
          <li><a href="/users/new">Register</a></li>
         <% end %>
      
       </ul>
     </nav> 
  </header>

    <%= yield %>

  </body>
</html>
